#todo-widget{

  label, .todo-text-field{
    margin-right:10px;
  }

  .todo-text-field{
    font-size:14px;
    width:200px;
    padding:5px 7px;
    border:1px solid #e1e1e1;
  }

  #input-and-button{
    padding:10px;
    margin-bottom: 20px;
  }

}