.social-objects {
  display: flex;
  flex-direction: column;
  .social-item {
    display: flex;
    flex-direction: row;
    padding: $base-padding $base-padding+4;
    .social-item-icon {
      width: 15%;
      height: 15%;
    }
    .social-item-text {
      h3 {
        font-size: 14px;
      }
      p {
        font-size: $base-font-size;
        font-family: $base-font;
        padding: $base-padding;
        color: #333;
      }
    }
  }
}
